<!DOCTYPE html>

<html>
	<head>
	</head>
	<body>
		
		<h3>Cadastro de Atividade</h3>
		<form method="POST">
			<label for="nome">Nome</label>
			<input type="text" value="" name="nome"/>
			<label for="disciplina">Disciplina</label>
			<input type="text" value="" name="disciplina"/>
			<label for="curso">Curso</label>
			<input type="text" value="" name="curso"/>
			<label for="professor">Professor</label>
			<input type="text" value="" name="professor"/>
			<button type="submit">Cadastrar</button>
		</form>
		
	</body>
</html>