<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
	<head th:replace="base :: headCust"></head>
	<body>
		<div th:replace="base :: navlinks">	</div>
		
	    <div class="p-5 mb-4 bg-light rounded-3">
	      <div class="container-fluid py-5">
	        <h1 class="display-5 fw-bold">Programação Web Cliente</h1>
	        <p class="col-md-8 fs-4">Atividade da disciplina Programação Web Cliente ministrada pelo professor Marcelo Vidigal Gonçalves dos Reis no primeiro semestre de 2021.</p>
	      </div>
	    </div>
	
	    <div class="row align-items-md-stretch">
	      <div class="col-md-6">
	        <div class="h-100 p-5 text-white bg-dark rounded-3">
	          <h2>Alpha Vantage API</h2>
	          <p>A API utilizada pode ser encontrada no site: <a href="https://www.alphavantage.co/documentation/">https://www.alphavantage.co/</a>.</p>
	        </div>
	      </div>
	      <div class="col-md-6">
	        <div class="h-100 p-5 bg-light border rounded-3">
	          <h2>A Equipe:</h2>
	          <p>Thomaz da Silva Machado<br>201402268<br>thomazmachado@aluno.uema.br<br>https://github.com/thomazdsm/ActivityWebClient</p>
	        </div>
	      </div>
	    </div>
		<div th:replace="base :: footer"></div>
	</body>
</html>
