<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
	<head th:replace="base :: headCust"></head>
	<body>
		<div th:replace="base :: navlinks">	</div>
		
	      <div class="col-md-12">
	        <div class="h-100 p-5 bg-light border rounded-3">
	          <h2>A Equipe:</h2>
	          <p>Thomaz da Silva Machado<br>201402268<bt>thomazmachado@aluno.uema.br<br>https://github.com/thomazdsm/ActivityWebClient</p>
	        </div>
	      </div>
		
		<div th:replace="base :: footer"></div>
	</body>
</html>
